<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
</head>

<body class="container">

<header class="col-md-10">
    <nav class="navbar navbar-light" style="background-color: #138496;">
         <span class="text-light">Welcome to Feedback Frog</span>
        <form class="form-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="at">@</span>
                </div>
                <input type="text" class="form-control" placeholder="search by username" aria-label="username"
                       aria-describedby="at">
            </div>
        </form>
    </nav>
</header>

<div class="row">
    <div class="col-md-10 col-md-pull-2"  th:each="mentor: ${mentors}">
        <section th:object="${mentor}" class="search-result-item">
            <div class="image-container">
                <a class="image-link" href="#"><img class="image"
                                                    src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/48426601_2514119031947815_2112618933147140096_n.jpg?_nc_cat=111&_nc_ht=scontent-vie1-1.xx&oh=267f86ba6adb4086d7c893d34fafd32f&oe=5D4BD028"
                                                    width="200" height="200" alt="profile"></a>
            </div>
            <div class="search-result-item-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="search-result-item-heading"><a th:text="*{name}" class="text-dark" href="#">Name of the mentor</a></h4>
                        <p class="review-sum">Number of reviews</p>
                        <p class="description">You'll be able to read the start of the latest review here, or something
                            like that...</p>
                    </div>
                    <div class="col-sm-3 text-align-center">
                        <p class="value3 mt-sm" th:text="'Points:'  + *{points}">Rating displayed</p>
                        <p class="fs-mini text-muted">We don't need this</p><a class="btn btn-primary btn-info btn-sm"
                                                                               href="review.html">Send feedback</a>
                    </div>
                </div>
            </div>
        </section>
        <!--<div class="text-align-center">-->
            <!--<ul class="pagination pagination-sm">-->
                <!--<li class="disabled"><a href="#">Prev</a>-->
                <!--</li>-->
                <!--<li class="active"><a href="#">1</a>-->
                <!--</li>-->
                <!--<li><a href="#">2</a>-->
                <!--</li>-->
                <!--<li><a href="#">3</a>-->
                <!--</li>-->
                <!--<li><a href="#">4</a>-->
                <!--</li>-->
                <!--<li><a href="#">5</a>-->
                <!--</li>-->
                <!--<li><a href="#">Next</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
