<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="static/css/style.css" rel="stylesheet"/>
</head>

<body class="container">

<header>
    <div class="navbar navbar-dark bg-info shadow-sm">
        <div class="container d-flex justify-content-between">
            <span class="text-light">Welcome to Feedback Frog</span>
            <form class="form-inline d-flex-right">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="at">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="search by username" aria-label="username"
                           aria-describedby="at">
                </div>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-10 col-md-pull-2"  th:each="mentor: ${mentors}">
        <section th:object="${mentor}" class="search-result-item">
            <div class="image-container">
                <a class="image-link" href="#" ><img src="https://cdn3.iconfinder.com/data/icons/users-outline/60/50_-Blank_Profile-_user_people_group_team-512.png"
                                                    th:src="${mentor.image}" width="200" height="200" alt="profile" class="image"></a>
            </div>
            <div class="search-result-item-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="search-result-item-heading"><a th:text="*{name}" class="text-dark" th:href="@{/reviews/{mentorid}(mentorid=*{id})}">Name of the mentor</a></h4>
                        <p class="review-sum" th:text="'Number of reviews: ' + *{receivedReviews.size()}"></p>
                        <p class="description" th:text="*{receivedReviews.size()} == 0 ? 'This mentor has not received any review yet' : 'Latest review: ' + *{receivedReviews.get(receivedReviews.size() - 1).getText()}">
                    </div>
                    <div class="col-sm-3 text-align-center">
                        <p class="value3 mt-sm" th:text="'Points:'  + *{points}">Rating displayed</p>
                        <a class="btn btn-primary btn-info btn-sm"
                                                                               href="/view/review/add">Send feedback</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
